#include <iostream>
#include <vector>
#include <algorithm>
#include <random>

using namespace std;

class Descarte {
public:
    vector<char> cartas;

    void crearCartas() {
        vector<char> colores = {'V', 'M', 'C', 'N', 'R', 'A'};
        for (char color : colores) {
            for (int i = 0; i < 12; ++i) {
                cartas.push_back(color);
            }
        }
    }

    void barajarCartas() {
        random_device rd;
        mt19937 g(rd());

        shuffle(cartas.begin(), cartas.end(), g);
    }

    void mostrarCartas() {
        for (char carta : cartas) {
            cout << carta << ' ';
        }
        cout << endl;
    }
};

int main() {
    Descarte descarte;
    descarte.crearCartas();
    cout << "Cartas antes ¿:" << endl;
    descarte.mostrarCartas();
    
    descarte.barajarCartas();
    cout << "Cartas después :" << endl;
    descarte.mostrarCartas();
    
    return 0;
}
